<h1><%= t('users.index.title') %></h1>

<table>
  <tr>
    <th><%= t('user.labels.username') %></th>
  </tr>
  <%- @users.each do |user| -%>
    <tr>
      <td><%= link_to h(user.drc_user), user %></td>
    </tr>
  <%- end -%>
</table>