<h1><%= @concept %></h1>
<h2><%= @concept.balance_for(current_institution) %></h2>

<div id="transactions">
  <%= render :partial => 'transactions/table' %>
</div>

<%= link_to t('back'), concepts_path %>