<h1>Editing transaction</h1>

<%- semantic_form_for :transaction, :object => @transaction, :url => @transaction, :html => { :method => :put } do |f| -%>
  <%= render :partial => 'form', :locals => {:f => f} %>
<%- end -%>

<%= link_to 'Back', transactions_path %>