<h1><%= t('accounts.new.title') %></h1>

<%- semantic_form_for @account do |f| -%>
  <%= f.input :cents, :as => :hidden, :value => 0 %>
  <%= render :partial => 'form', :locals => { :f => f} %>
<%- end -%>

<%= link_to t('Back'), accounts_path %>